/*----------------
      RESET
------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*----------------
      COMMON
------------------*/
body {
  font-family: 'Montserrat', sans-serif;
}

/*----------------
      BUTTON
------------------*/
.btn-upgrade {
  text-transform: uppercase;
  border: 1px solid white;
  border-radius: 30px;
  padding: 10px 30px;
  background-color: transparent;
  color: white;
  font-size: 12px;
  font-weight: 600;
}

.btn-upgrade:hover {
  font-size: 14px;
}

.create-playlist button {
  border: none;
}

/*----------------
      TYPO
------------------*/
.titolo {
  font-weight: 600;
  padding-top: 15px;
  padding-bottom: 5px;
}

.small {
  font-size: small;
  color: #7d7f84;
}

.all h2 {
  padding-bottom: 20px;
}

.box-logo .titolo {
  font-size: 30px;
}

.container-nav-aside h3 {
  text-transform: uppercase;
  padding-top: 20px;
}

.create-playlist i {
  padding: 8px 10px;
  background-color: #a3a3a3;
  color: black;
}

/*----------------
      HEADER
------------------*/
header {
  position: relative;
}
.upgrade {
  position: fixed;
  display: flex;
  height: 80px;
  width: calc(100% - 250px);
  margin-left: 250px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}

/*----------------
      MAIN
------------------*/
main {
  display: flex;
  color: white;
}

/* aside  */
aside {
  width: 250px;
  height: calc(100vh - 80px);
  background-color: black;
  overflow-y: auto;
  flex-shrink: 0;
}

.container-nav-aside {
  display: flex;
  flex-direction: column;
  height: 73%;
  padding: 20px 20px;
}
.box-logo,
.box-nav {
  display: flex;
  align-items: center;
  gap: 10px;
}
.box-logo {
  padding: 20px 20px;
}

.box-nav {
  padding: 5px 20px;
}
.border {
  border-left: 2px solid greenyellow;
}

.box-nav a {
  text-decoration: none;
}

a span:hover {
  color: white;
}

.logo {
  width: 40px;
  height: 40px;
}

.font-awesome {
  width: 30px;
  height: 30px;
}

.container-nav-aside a {
  color: #7d7f84;
  text-decoration: none;
}

.create-playlist {
  padding-top: 10px;
}
.create-playlist a {
  padding-left: 5px;
}

.playlist li {
  list-style: none;
  padding: 15px 0px;
  font-size: small;
}
.box-footer-aside {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  flex-grow: 1;
}
.download {
  width: 20px;
  height: 20px;
}
.box-download {
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
  align-items: center;
}

.box-download a:hover {
  color: white;
}

.box-profile {
  display: flex;
  padding-top: 10px;
  align-items: center;
  gap: 10px;
}

.profile {
  width: 20px;
  height: 20px;
  background-color: #a3a3a3;
  border-radius: 50%;
}

/* /aside */

/* menu navigazione  */
.section-album nav ul {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex-wrap: wrap;
}

.section-album li {
  padding: 10px 30px;
  list-style: none;
  position: relative;
}

.stile:after {
  content: '';
  position: absolute;
  display: block;
  width: 30%;
  height: 2px;
  background-color: greenyellow;
  bottom: 0;
  left: 60px;
}

.section-album a {
  color: #7d7f84;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

a:hover {
  color: white;
}
/* /menu navigazione  */

.all {
  padding: 0 50px;
}

.section-album {
  overflow-y: auto;
  background-color: #141922;
  width: calc(100% - 250px);
  height: calc(100vh - 80px);
}

.played {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.box-album {
  width: calc(100% / 6 - 15px);
  text-align: center;
}

.img-style {
  width: 100%;
  object-fit: contain;
}

.image {
  position: relative;
}

.img-style-radius {
  border-radius: 50%;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 4px);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s;
}

.image-overlay i {
  font-size: 60px;
}

.image-overlay:hover {
  opacity: 1;
}

.box-album span {
  display: inline-block;
}

.tag-play {
  padding: 40px 0px;
}

.all {
  padding-bottom: 100px;
}

/*----------------
      FOOTER
------------------*/

footer {
  width: 100%;
  height: 80px;
  background-color: #282828;
  color: white;
}

.container-footer {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.player {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.album-playback,
.option {
  width: 20%;
  display: flex;
  height: 100%;
  gap: 10px;
  align-items: center;
}

.player {
  width: 80%;
}

.player-btn {
  display: flex;
  align-items: center;
}
.player-btn i {
  padding-left: 30px;
}
.small-player {
  font-size: 18px;
}
.big-play {
  font-size: 40px;
}

.option {
  display: flex;
  justify-content: flex-end;
}

.box-img {
  width: 70px;
  height: 70px;
}

.album-playback img {
  width: 70px;
  object-fit: contain;
}

.album-playback i {
  padding-left: 10px;
  color: grey;
}

.favorite {
  padding-left: 30px;
}
.favorite i:hover {
  color: white;
}
.box-play-bar {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-play-bar span {
  padding: 0px 20px;
  font-size: 12px;
  font-weight: 600;
}

.play-bar {
  background-color: #5a5a5a;
  width: 50%;
  height: 5px;
  border-radius: 30px;
}

.inside-play-bar {
  position: relative;
  background-color: white;
  width: 30%;
  height: 5px;
  border-radius: 30px;
}

.circle-box:hover {
  opacity: 1;
}
.circle-box {
  width: 100%;
  height: 100%;
  background-color: greenyellow;
  opacity: 0;
}
.circle {
  content: '';
  display: block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: absolute;
  right: 0px;
  top: -2px;
  background-color: greenyellow;
}

.icon {
  display: flex;
  font-size: 15px;
  gap: 10px;
}

.option .play-bar {
  width: 30%;
}

.option .inside-play-bar::after {
  display: none;
}

/*----------------
      MEDIAQ
------------------*/

/* screen da 0 a 600px - xs  */

@media screen and (max-width: 600px) {
  aside {
    width: 50px;
    height: calc(100vh - 80px);
    background-color: black;
    overflow-y: auto;
    flex-shrink: 0;
  }

  .section-album {
    overflow-y: auto;
    background-color: #141922;
    width: calc(100% - 50px);
    height: calc(100vh - 80px);
  }

  .upgrade {
    position: fixed;
    display: flex;
    height: 80px;
    width: calc(100% - 50px);
    margin-left: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
  }

  .box-album {
    width: calc(100% / 2 - 15px);
  }

  .container-nav-aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    height: 70%;
  }
  aside span {
    display: none;
  }
  .box-logo {
    padding: 10px;
  }

  .box-nav {
    padding: 10px;
  }
  .font-awesome {
    width: 30px;
    height: 30px;
  }

  .logo {
    width: 30px;
    height: 30px;
  }

  .container-nav-aside span {
    display: none;
  }
  .box-footer-aside a {
    display: none;
  }

  .playlist {
    display: none;
  }
  hr {
    display: none;
  }

  .box-footer-aside {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
  }
  .box-download {
    display: flex;
    width: 100%;
    padding-bottom: 10px;
    justify-content: center;
    padding-right: 2px;
  }
}

/* screen da 601 a 700px - s */

@media screen and (min-width: 601px) and (max-width: 700px) {
  .box-album {
    width: calc(100% / 2 - 15px);
  }
}

/* screen da 601 a 700px - md */

@media screen and (min-width: 701px) and (max-width: 1099px) {
  .box-album {
    width: calc(100% / 4 - 15px);
  }
}

/* screen da 1100 in poi - lg  */

@media screen and (min-width: 1100px) {
  .box-album {
    width: calc(100% / 6 - 15px);
  }
}
